html {
  font-size: 150%;
  font-weight: 300;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

body {
  display: flex;
  background-image: linear-gradient(#e66465, #9198e5);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 255, 0.2);
  border-radius: 0.5em;
  overflow: hidden;
}

.calculator__display {
  background-color: rgb(41, 40, 40);
  color: #cac1c1;
  width: 16.25rem;
  padding: 0.75rem 1rem;
  text-align: right;
  font-size: calc(1rem * 1.2 * 1.2);
}

.calculator__keys {
  background: rgb(214, 214, 214);
  display: grid;
  grid-gap: 0.5px;
  grid-template-columns: repeat(4, auto);
  grid-template-areas:
    ". . . ."
    "seven eight nine equal"
    "four five six equal"
    "one two three equal"
    "zero decimal clear equal";
}

.calculator__keys > button {
  padding: 0.75rem 1rem;
  border: none;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.zero {
  grid-area: zero;
}


.equal:hover,
.equal:focus {
  background: #cc4b4b;
}

.clear {
  grid-area: clear;
}

[data-type="number"], [data-type="clear"]{
  background: white;
}

[data-type="number"]:hover,
[data-type="operator"]:hover,
[data-type="operator"]:focus {
  background: #969191;
}

.equal {
  border-radius: 0.5em;
  grid-area: equal;
  background: #e66465;
}

[data-state = "selected"]{
  background: #969191;
}